.container {
  width: 80%;
  height: 29rem;
  margin: 0 auto;
  background-color: lightgrey;
  overflow: hidden;
  text-align: center;

  .hideBlock {
    display: none;
  }

  .containerInputs {
    display: inline-block;
    margin: 2rem 0;
    width: auto;
    font-size: 1.3rem;
    font-weight: 600;

    & input {
      display: none;
    }

    & input:checked label {
      display: block;
      text-decoration: underline blueviolet;
    }

    & label {
      cursor: pointer;
      padding: 0 0.5rem 0 0;
    }
  }

  @import 'slider/style';

}